html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: League Spartan;
}

body {
    background: linear-gradient(to bottom,#233945 , #8dbeda);  
    background-size: cover;
}

.item{
    width: 150px;
    height: 150px;
    background-color: #6c9ebb;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin-top: 100px;
    margin-left: 230px;
    cursor: pointer;
    box-shadow: 2px 1px 30px 1px rgb(0, 0, 0);
}

.topo{
    width: 300px;
    height: 300px;
    background-color: #295872;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    margin-left: 550px;
    cursor: pointer;
    box-shadow: 1px 1px 20px 5px rgb(192, 192, 192);

}

.img{
    width: 190px;
    margin-left: 55px;
    margin-top: 10px;
}

.a{
    font-size: 50px;
    margin-left: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

div:hover{
    transform: scale(1.05);
    transition: .6s;
}

.entrada{
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    margin-left: 25px;
}

.jantar{
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    margin-left: 35px;
}

.sobremesa{
    font-size: 26px;
    color: aliceblue;
    text-decoration: none;
    margin-left: 12px;
}

img{
    width:50px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}